.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
body {
  font-family: "Helvetica Neue", "Liberation Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background-image: url('../img/bg.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('../img/bg@2x.jpg');
    background-size: 280px 210px;
  }
}
a {
  text-decoration: none;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
::selection {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: none;
}
#top {
  width: 480px;
  height: 280px;
  margin: auto;
}
#top .logotype {
  width: 480px;
  height: 280px;
  background-image: url('../img/top.png');
  z-index: 999;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #top .logotype {
    background-image: url('../img/top@2x.png');
    background-size: 480px 320px;
  }
}
#top .text {
  margin: 0;
  width: 480px;
  text-align: center;
  position: absolute;
  color: transparent;
  z-index: 10;
}
#top .text pre {
  margin: 0;
}
#main #issues {
  width: 582px;
  padding: 0;
  text-align: center;
  margin: auto;
}
#main #issues li {
  list-style: none;
  float: left;
  margin: 20px 30px;
}
#main #issues li .inner {
  display: block;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
}
#main #issues li .inner:hover .overlay {
  opacity: 0.9;
}
#main #issues li .inner .overlay {
  width: 134px;
  height: 190px;
  position: absolute;
  background-color: white;
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
}
#main #issues li .inner .overlay .sale {
  color: #000;
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.2em;
  text-shadow: 1px 1px 0px #ffffff;
}
#main #issues li .inner .overlay .download {
  margin: 20px auto;
  font-size: 14px;
  background-color: #aaa;
  color: white;
  padding: 2px;
  border-radius: 14px;
  width: 96px;
}
#main #issues li .inner:hover {
  cursor: pointer;
}
#main #issues li .inner:hover img {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#main #issues li .inner img {
  width: 134px;
  height: 190px;
  border: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
#main #issues li .inner > p {
  margin-top: 5px;
  font-size: 13px;
  color: #777;
  text-shadow: 1px 1px 0px #ffffff;
}
#bottom {
  margin-bottom: 80px;
  text-align: center;
  font-size: 13px;
  color: #999;
}
#bottom a {
  margin: 0 10px;
  color: #999;
}
#bottom a:hover {
  color: #777;
}
